.postList{
    flex: 4;
}

.postListItem{
    display: flex;
    align-items: center;
}

.postListImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    
    padding: 5px;
  }

.postListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.postListDelete{
    color: red;
    cursor: pointer;
}
.postAddButton{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
  }