.footer{
	padding-bottom: 0.5rem;    
    background: linear-gradient(rgba(58, 58, 58, 0.587), rgba(48, 47, 47, 0.8)), url("https://www.vanlanguni.edu.vn/images/vlu-header-footer.jpg");
    
    margin-top: 20px;
    
}
.footerContainer{
    width: 100%;
    color: white; 
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
    margin: 0 auto; 
}

.footerContainer-1{
    width: 35%;
    padding: 0 30px;
    margin-top: 49px;
    margin-right: -56px;
}
.logofooter{
    width: 70%;
    height: 80px;

}
.footerContainer-2{
    margin-top: 32px;
    width: 30%;
    padding: 0 76px;
    text-align  : center;
}

.footerContainer-3{
    margin-top: 32px;
    width: 33%;
    padding: 0 1px;
}
.footerContainer h4 {
    color: #adaeb0;
    font-weight: 600;
    font-size: 1.37rem;

}
.footerContainer ul {
    list-style: none;
    line-height:1.5 ;
    margin-right: 44px;
    margin-top: 5px;
    display:grid;
}
.footerContainer a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    
}
.footerContainer p{
    font-size: 15px;
    margin-top: 10px;
    color: white;
    font-weight: 600;

}
