.profileWrapper{
    padding:65px;
    width: 1200px;
    position: relative;
    margin: 28px 30px 40px 32px;
    
}
.profileTop{
    height: 250px;
   
    -webkit-box-shadow: 0px 0px 16px -8px rgba(63, 63, 63, 0.808);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.836);
}
.banner{
    width: 100%;
    height: 250px;
    object-fit: cover;   
}
.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 200px;
    border: 3px solid white;
}
.profileInfo{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}
.profilePost{
    margin-top:10px ;
    display: flex;
}