.aboutWrapper{
    height: 200px;
    margin-top: 5em;
    padding-top: 8em;
    background: url("https://online.vlu.edu.vn/Content/logo/banner-yersin.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    position: relative;
}
.aboutTitle{
    margin-top: 15px;
}
.Title{
    text-align: center;
}
.Title p{
    font-size: 15px;
    font-weight: 500px;
    margin-top: 5px;
}
.aboutdesc{

    height: 350px;
    margin-top: 10px;
}
.itemdesc{
    color: #b81f32;
}

